# Core functionality - changes here should be rare!
/src/app.py                   @cherjt-pixel
/src/backend/database.py      @cherjt-pixel
/src/backend/routers/auth.py  @cherjt-pixel

# The frontend will need refactored soon to be more object oriented.
/src/static/   @cherjt-pixel
